.container {
  margin-top: 100px;
  padding-bottom: 20px;
}

hr {
  display: none;
}

#lezioni .container img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .container>[class*="col-"] {
  /* width: 100%; */
  margin-top: 80px;
}

#why .container img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

h1 {
  padding: 30px;
}
h3 {
  padding: 20px;
}

/* MD */
@media screen and (max-width: 991px) {
  .container {

      padding: 0 30px;
      margin-top: 50px;
      font-family: sans-serif;
    }

    .container h1, h3 {
      font-family: cursive;
      text-transform: uppercase;
      text-align: center;
    }

    h1, img {
      padding: 20px;
    }
    h3 {
      padding: 10px;
    }

    #lezioni .container>[class*="col-"] {
      margin-bottom: 40px;
      padding: 0 20px;
    }

    #steps .container>[class*="col-"] {
      margin-bottom: 80px;
      padding: 0 20px;
    }

    #steps .container, #why .container {
      padding-top: 10px;
    }

    #why .container>[class*="col-"] {
      margin-top: 80px;
      float: left;
      padding: 0 20px;
      margin-bottom: 40px;
    }

}
/* /MD */


/* XS */
@media screen and (max-width: 767px) {

  .container {
      padding: 0 30px;
      margin-top: 25px;
      font-family: sans-serif;
    }

    .container h1, h3 {
      font-family: cursive;
      text-transform: uppercase;
      text-align: center;
    }

    h1, img {
      padding: 10px;
    }
    h3 {
      padding: 5px;
    }

    #lezioni .container>[class*="col-"] {
      margin-bottom: 20px;
      padding: 0 10px;
    }

    #steps .container>[class*="col-"] {
      margin-bottom: 40px;
      padding: 0 10px;
    }

    #steps .container, #why .container {
      padding-top: 5px;
    }

    #why .container>[class*="col-"] {
      margin-top: 40px;
      float: left;
      padding: 0 10px;
      margin-bottom: 20px;
    }

    img {
      width: 130px;
      height: auto;
    }



}
/* /XS */
