.container {
  /* width: 992px;
  margin-left: auto;
  margin-right: auto; */
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
/* #lezioni .container>.left,
#lezioni .container>.right {
  width: 50%;
  float: left;
} */

#lezioni .container img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
/* #steps .container>.left,
#steps .container>.central,
#steps .container>.right {
  float: left;
  width: 33%;
} */

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

/* Questa diventa come più sotto */
/* #why .container>.first,
#why .container>.second,
#why .container>.third {
  width: 100%;
  margin-top: 80px;
} */
#why .container>[class*="col-"] {
  /* width: 100%; */
  margin-top: 80px;
}

#why .container img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.container::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

h1 {
  padding: 30px;
}
h3 {
  padding: 20px;
}

/* MD */
@media screen and (max-width: 991px) {
  .container {

      padding: 0 30px;
      /* margin-left: 0;
      margin-right: 0; */
      margin-top: 50px;
      font-family: sans-serif;
      /* text-align: justify; */
    }

    .container h1, h3 {
      font-family: cursive;
      text-transform: uppercase;
      text-align: center;
    }

    h1, img {
      padding: 20px;
    }
    h3 {
      padding: 10px;
    }

    #lezioni .container>[class*="col-"] {
      margin-bottom: 40px;
      padding: 0 20px;
    }

    #steps .container>[class*="col-"] {
      margin-bottom: 80px;
      padding: 0 20px;
    }

    #steps .container, #why .container {
      padding-top: 10px;
    }


    #why .container>[class*="col-"] {
      margin-top: 80px;
      float: left;
      padding: 0 20px;
      margin-bottom: 40px;
    }

    hr {
      display: none;
    }

}

@media screen and (max-width: 991px) {
  .container {

      padding: 0 30px;
      /* margin-left: 0;
      margin-right: 0; */
      margin-top: 50px;
      font-family: sans-serif;
      /* text-align: justify; */
    }

    .container h1, h3 {
      font-family: cursive;
      text-transform: uppercase;
      text-align: center;
    }

    h1, img {
      padding: 20px;
    }
    h3 {
      padding: 10px;
    }

    #lezioni .container>[class*="col-"] {
      margin-bottom: 40px;
      padding: 0 20px;
    }

    #steps .container>[class*="col-"] {
      margin-bottom: 80px;
      padding: 0 20px;
    }

    #steps .container, #why .container {
      padding-top: 10px;
    }


    #why .container>[class*="col-"] {
      margin-top: 80px;
      float: left;
      padding: 0 20px;
      margin-bottom: 40px;
    }

    hr {
      display: none;
    }

}
